@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@300;900&display=swap');

body{
    text-align:center;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.title{
    font-family: 'EB Garamond', serif;
    font-size: 35pt;
    font-weight:bolder;
    margin:40px 0;
}

.sub{
    font-size:16pt;
    letter-spacing:1px;
    margin:50px 0;
}

#map { 
    height: 500px;
    width:700px;
    margin:auto;
    border: 2px solid #000;
    border-radius: 10px;
}

.home{
    position: absolute;
    top:10px;
    left:10px;
    color:black;
    text-decoration:none;
    font-weight:bolder;
    padding:5px;
    background-color:cornflowerblue;
    border: 2px solid black;
    border-radius: 5px;
}

.insert{
    padding:20px;
    border: 3px #000 solid;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    margin-top:20px;
    background: linear-gradient(#e66465, #9198e5);
}

#error{
    background-color:red;
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    width: 300px;
    padding: 20px;
    font-weight:bold; 
    font-size: 16pt;
}

.inser{
    background-color:green;
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    width: 300px;
    padding: 20px;
    font-weight:bold; 
    font-size: 16pt;
}

table {
    border-collapse:collapse;
    width:80%; 
    margin: 50px 10% 0 10%;
    text-align: center;
    font-size: 18pt;
}

table thead th { 
    border: 1px solid #000; 
    padding: 5px;
}

table td { 
    border: 1px solid #000; 
    padding: 5px;
}

#addition{
    position: absolute;
    top: 10px;
    right:10px;
    font-weight: bold;
    color: white; 
    text-decoration: none;
    padding: 5px;
    border:2px black solid;
    border-radius: 10px;
    background: blue;
}

.log{
    margin: 100px auto 0 auto;
    border: 2px solid black;
    padding: 50px; 
    border-radius: 20px;
    width: 200px;
}